<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609123050970-d6e9oie06fg8pau13nemh0tno72kk0s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609123050970-d6e9oie06fg8pau13nemh0tno72kk0s6</string>
	<key>API_KEY</key>
	<string>AIzaSyB1atEz40woK-ORY2EOl7pR1sPI3HiubIE</string>
	<key>GCM_SENDER_ID</key>
	<string>609123050970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michael.FireFace</string>
	<key>PROJECT_ID</key>
	<string>ghost-e2d15</string>
	<key>STORAGE_BUCKET</key>
	<string>ghost-e2d15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609123050970:ios:49c82a30c0781cad608ce3</string>
	<key>DATABASE_URL</key>
	<string>https://ghost-e2d15.firebaseio.com</string>
</dict>
</plist>